<!--Here comes the payment-form-->
<form name="paymentManagement" novalidate ng-submit="paymentManagement.$valid && paymentCtrl.submit()">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-12" align="center"><h3>Payment data</h3></div>
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Method *</label>
		<div class="col-sm-4">
			<section ng-model="pay.payMethod">
				<option value="creditCard">Credit card</option>
				<option value="transfer">Bank transfer</option>
			</section>
		</div>
		<div ng-show="pay.payMethod=='creditCard'">
			<label class="col-sm-2 control-label" for="formGroup">Card number *</label>
			<div class="col-sm-4">
				<!--The credit card number-->
				<input class="form-control" type="text" ng-model="pay.creditCard" required ng-pattern="/\d{4}-\d{4}-\d{4}-\d{4}/" />
			</div>
		</div>
		<div ng-show="pay.payMethod=='transfer'">
			<label class="col-sm-2 control-label" for="formGroup">IBAN number *</label>
			<div class="col-sm-4">
				<!--The iban number-->
				<input class="form-control" type="text" ng-model="pay.iban" required ng-pattern="/^[A-Z]{2}\d{2} \d{4} \d{4} \d{4} \d{4}/"/>
			</div>
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Charity (2€)</label>
		<div class="col-sm-4">
      <input type="checkbox" name="" value="">
			<!--<input class="form-control" ng-model="user.email" required />-->
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="formGroup"></label>
			<div class="col-sm-4">
				<button type="submit" class="btn btn-success"
          ng-disabled="paymentManagement.$invalid" ng-click="pay.popUp()">
          Pay </button>
					<button type="submit" class="btn btn-default btn-primary"
	          ng-click="$parent.showAction=0">
	          Back </button>
					<!--<label>
						<input class="btn btn-default btn-primary btn-block"
	          type="button" value="Back" ng-click="$parent.showAction=0" >
					</label>-->
			</div>
		</div>
	</div>
</form>
