<form name="personalManagement" novalidate ng-submit="personalManagement.$valid && personalCtrl.submit()">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-12" align="center"><h3>Personal data</h3></div>
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Name *</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="user.name" ng-pattern="/[A-Z][A-Za-z]/" required />
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Last name *</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="user.lastName" required />
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Email *</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="user.email" required />
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Phone *</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="user.phone" ng-pattern="/[0-9]{9}/" required />
		</div>
		<label class="col-sm-2 control-label" for="formGroup">DNI *</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="user.dni" requeired />
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="formGroup"></label>
			<div class="col-sm-4">
				<button type="submit" class="btn btn-success"
          ng-disabled="personalManagement.$invalid">
          Next </button>
					<label>
						<input class="btn btn-default btn-primary btn-block"
	          type="button" value="Back" ng-click="$parent.showAction=0" >
					</label>
			</div>
		</div>
	</div>
</form>
