<form name="reservationManagement" novalidate ng-submit="reservationManagement.$valid && reservationCtrl.submit()" novalidate>
	<div class="form-group">
		<div class="row">
			<div class="col-xs-12" align="center"><h3>Reservation details</h3></div>
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Check in Date *:</label>
		<div class="col-sm-6">
			<p class="input-group">
				<input type="text"
				ng-model="reservation.checkInDate"
				ng-change="validateDates()"
				class="form-control"
				id="checkInDate"
				uib-datepicker-popup="{{format}}"
				is-open="checkInDate.opened"
				datepicker-options="dateOptions"
				close-text="Close"
				alt-input-formats="altInputFormats"
				readonly/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openCheckInDate()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Check in time: </label>
		<div class="col-sm-2">
			<select class="form-control" name="checkInTime" id="checkInTime" id="checkInTime" required>

			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="formGroup">Players *</label>
		<div class="col-sm-4">
			<input class="form-control" type="number" ng-model="reservation.nPlayers" />
		</div>
		<label class="col-sm-2 control-label" for="formGroup">Room type *</label>
		<div class="col-sm-4">
			<select class="form-control" name="roomType" id="roomType" required>

			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="formGroup">Total price:</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="reservation.totalPrice" readonly/>
		</div>
	</div>
	<br/>
	<br/>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="formGroup"></label>
		<div class="col-sm-4">
			<button class="btn btn-success" ng-disabled="reservationManagement.$invalid">
				Submit
			</button>
			<button type="submit" class="btn btn-default btn-primary"
				ng-click="$parent.showAction=0">
				Back </button>
			<!--<label>
				<input class="btn btn-default btn-primary btn-block" type="button" value="Back" >
			</label>-->
		</div>
	</div>
</form>
